* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:white;
  color: #222;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #0a0a0a; 
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #000;
}

/* Search Bar */
.search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.search-container input {
    padding: 8px 15px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 200px; /* Adjust as needed */
}

.search-container button {
    background-color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    color: #555;
}

/* Categories */
.categories {
  text-align: center;
  padding: 60px 20px;
  
}

.categories h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #333;
}

.container{
    display: flex;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
  justify-items: center;
  width: 80%;
}

.card {
  width: 280px;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.card:hover .overlay {
  background: rgba(230, 57, 70, 0.8);
}